In [1]:
import pandas as pd

# Load the dataset into a DataFrame
df = pd.read_csv('C:\Capstone_Project\EnergyConsumption_Prediction\historic_demand_2009_2024.csv')

# Display the columns and the first few rows of the DataFrame
df.head()

<>:4: SyntaxWarning: invalid escape sequence '\C'
<>:4: SyntaxWarning: invalid escape sequence '\C'
C:\Users\akani\AppData\Local\Temp\ipykernel_34496\3812616077.py:4: SyntaxWarning: invalid escape sequence '\C'
  df = pd.read_csv('C:\Capstone_Project\EnergyConsumption_Prediction\historic_demand_2009_2024.csv')

,Unnamed: 0,settlement_date,settlement_period,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,...,ifa2_flow,britned_flow,moyle_flow,east_west_flow,nemo_flow,nsl_flow,eleclink_flow,scottish_transfer,viking_flow,is_holiday
0,0,2009-01-01,1,37910,38704,33939,54,1403,0,0,...,0,0,-161,0,0,NaN,NaN,NaN,NaN,1
1,1,2009-01-01,2,38047,38964,34072,53,1403,0,0,...,0,0,-160,0,0,NaN,NaN,NaN,NaN,1
2,2,2009-01-01,3,37380,38651,33615,53,1403,0,0,...,0,0,-160,0,0,NaN,NaN,NaN,NaN,1
3,3,2009-01-01,4,36426,37775,32526,50,1403,0,0,...,0,0,-160,0,0,NaN,NaN,NaN,NaN,1
4,4,2009-01-01,5,35687,37298,31877,50,1403,0,0,...,0,0,-160,0,0,NaN,NaN,NaN,NaN,1